/******************************************************************************
 *                  QLOGIC LINUX SOFTWARE
 *
 * QLogic ISP2x00 device driver for Linux 2.4.x
 * Copyright (C) 2003 QLogic Corporation
 * (www.qlogic.com)
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 2, or (at your option) any
 * later version.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 ******************************************************************************/

/*
 * QLogic ISP2x00 Multi-path LUN Support Driver
 */
int	MaxPathsPerDevice = 0;
int	MaxRetriesPerPath = 0;
int	MaxRetriesPerIo = 0;
int	qlFailoverNotifyType = 0;
int 	ql2xlbType = 0;
int     ql2xexcludemodel = 0;
#if defined(MODULE)
/* insmod qla2100 <options> ql2xopts=<string> */
MODULE_PARM(MaxPathsPerDevice, "i");
MODULE_PARM(MaxRetriesPerPath, "i");
MODULE_PARM(MaxRetriesPerIo, "i");
MODULE_PARM(qlFailoverNotifyType, "i");
MODULE_PARM(ql2xlbType, "i");
MODULE_PARM_DESC(ql2xlbType,
		"Load Balance Method : (0) None (1) static load balance and "
		"Default : 0  All the luns exposed on the first active path"
		"        : 1  For static load balance across active optimised"
		"  	      controller ports");
MODULE_PARM(ql2xexcludemodel, "i");
MODULE_PARM_DESC(ql2xexcludemodel,
	"Exclude device models from being marked as failover capable."
	"Combine one or more of the following model numbers into "
	"an exclusion mask: "
	"0x20 - HSV210, 0x10 - DSXXX, "
	"0x04 - HSV110, 0x02 - MSA1000, 0x01 - XP128.");

#endif
